<% @search["DISPLAY"].each do |key, value| %>
<div class="jumbotron">
  <h1 class="display-4"><%= key %> </h1>
  Price: <%= value["USD"]["PRICE"] %><br>
  24hr High: <%= value["USD"]["HIGHDAY"] %><br>
  24hr Low: <%= value["USD"]["LOWDAY"] %><br>
  Marketcap: <%= value["USD"]["MKTCAP"] %><br>
</div>	
<% end %>